In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()

In [5]:
data = pd.read_excel('output3.xlsx')

In [6]:
list_of_stocks = data['fund_name'].unique()

In [7]:
d = {}
for x in list_of_stocks:
    d[x]=pd.DataFrame()

In [8]:
for x in list_of_stocks:
    d[x] = data.loc[data['fund_name']== x ,['Dates','fund_name','Close_x','Close_y']]

In [9]:
#not required
#for x in d:
#    d[x]['Close_y'].fillna(method = 'ffill', inplace = True)

In [10]:
d['EIM']

                   Dates fund_name   Close_x   Close_y
0    2020-05-04 09:05:00       EIM  14390.00  14627.30
1    2020-05-04 09:15:00       EIM  14035.25  13978.40
2    2020-05-04 09:20:00       EIM  14012.70  13994.45
3    2020-05-04 09:25:00       EIM  14081.95  14048.95
4    2020-05-04 09:30:00       EIM  14100.00  14082.00
...                  ...       ...       ...       ...
6610 2020-08-26 15:40:00       EIM   2248.85   2249.00
6611 2020-08-26 15:45:00       EIM   2248.85   2249.00
6612 2020-08-26 15:50:00       EIM   2248.85   2249.00
6613 2020-08-26 15:55:00       EIM   2248.85   2249.00
6614 2020-08-26 16:35:00       EIM   2248.85   2249.00

[6615 rows x 4 columns]

In [8]:
# for x in d:
#    d[x]['Return_x']=d[x]['Close_x'].pct_change(1)

In [9]:
#for x in d:
#    d[x]['Return_y']=d[x]['Close_y'].pct_change(1)

In [10]:
# for x in d:
#    d[x]['Return_x_log']=np.log(d[x]['Return_x'])

In [11]:
#for x in d:
#    d[x]['Return_y_log']=np.log(d[x]['Return_y'])

In [11]:
for x in d:
    d[x]['Close_x_log']=np.log(d[x]['Close_x'])

In [12]:
for x in d:
    d[x]['Close_y_log']=np.log(d[x]['Close_y'])

In [13]:
from datetime import datetime as dt

In [14]:
for x in list_of_stocks:
    d[x]['Dates'] = pd.to_datetime(d[x]['Dates'],format = '%y-%m-%d %H:%M:%S')

In [15]:
for x in list_of_stocks:
    d[x]['DMY'] = pd.to_datetime(d[x]['Dates'], format='%y-%m-%d %H:%M:%S').dt.date
    d[x]['Time'] = pd.to_datetime(d[x]['Dates'], format='%y-%m-%d %H:%M:%S').dt.time
    d[x]['Day_of_week'] = pd.to_datetime(d[x]['Dates'], format='%y-%m-%d %H:%M:%S').dt.weekday

In [16]:
start_date = '2020-04-30'
end_date = '2020-08-27'

In [17]:
for x in list_of_stocks:
    mask = (d[x]['Dates'] > start_date) & (d[x]['Dates']<end_date)
    d[x] = d[x].loc[mask]

In [18]:
start_time = dt.strptime('09:14:00', '%H:%M:%S').time()
end_time = dt.strptime('15:31:00', '%H:%M:%S').time()

In [19]:
for x in list_of_stocks:
    mask = (d[x]['Time'] > start_time) & (d[x]['Time']<end_time)
    d[x] = d[x].loc[mask]

In [27]:
len(d['RIL'])

6232

In [29]:
a = 0
for i in d:
    a = a +len(d[i])
a

311141

In [30]:
#25 May 2020 was a holiday

In [31]:
check_date = dt.strptime('2020-08-24', '%Y-%m-%d').date()

In [32]:
d['RIL'].loc[(d['RIL']['DMY'] > check_date)]

,Dates,fund_name,Close_x,Close_y,Close_x_log,Close_y_log,DMY,Time,Day_of_week
26567,2020-08-25 09:15:00,RIL,2102.55,2106.55,7.650906,7.652807,2020-08-25,09:15:00,1
26568,2020-08-25 09:20:00,RIL,2101.35,2105.65,7.650335,7.652379,2020-08-25,09:20:00,1
26569,2020-08-25 09:25:00,RIL,2102.60,2106.55,7.650930,7.652807,2020-08-25,09:25:00,1
26570,2020-08-25 09:30:00,RIL,2102.00,2106.90,7.650645,7.652973,2020-08-25,09:30:00,1
26571,2020-08-25 09:35:00,RIL,2097.80,2101.15,7.648644,7.650240,2020-08-25,09:35:00,1
...,...,...,...,...,...,...,...,...,...
26719,2020-08-26 15:10:00,RIL,2139.00,2140.20,7.668094,7.668655,2020-08-26,15:10:00,2
26720,2020-08-26 15:15:00,RIL,2139.45,2139.45,7.668304,7.668304,2020-08-26,15:15:00,2
26721,2020-08-26 15:20:00,RIL,2137.80,2139.00,7.667533,7.668094,2020-08-26,15:20:00,2
26722,2020-08-26 15:25:00,RIL,2133.80,2135.70,7.665660,7.666550,2020-08-26,15:25:00,2
26723,2020-08-26 15:30:00,RIL,2137.30,2135.70,7.667299,7.666550,2020-08-26,15:30:00,2

In [33]:
monday = {}
tuesday ={}
wednesday={}
thursday={}
friday={}

In [34]:
for day in range(5):
    for x in d:
        if day == 0:
            monday[x]=d[x].loc[d[x]['Day_of_week']==day]
        elif day == 1:
            tuesday[x]=d[x].loc[d[x]['Day_of_week']==day]
        elif day == 2:
            wednesday[x]=d[x].loc[d[x]['Day_of_week']==day]
        elif day == 3:
            thursday[x]=d[x].loc[d[x]['Day_of_week']==day]
        else:
            friday[x]=d[x].loc[d[x]['Day_of_week']==day]

In [35]:
monday_cuts={}
tuesday_cuts={}
wednesday_cuts={}
thursday_cuts={}
friday_cuts={}

In [36]:
start_date = dt.strptime('2020-04-30', '%Y-%m-%d').date()
end_date = dt.strptime('2020-08-27', '%Y-%m-%d').date()

In [37]:
from datetime import timedelta

In [38]:
#25th May Holiday filtering
end_date_holiday = dt.strptime('2020-05-23', '%Y-%m-%d').date()

In [39]:
y = dt.strptime('2020-05-04', '%Y-%m-%d').date()
for x in monday:
    while y<end_date_holiday:
        monday_cuts[x+str(y)]=monday[x].loc[monday[x]['DMY']==y]
        y= y + timedelta(days = 7)
    y = dt.strptime('2020-05-04', '%Y-%m-%d').date()

In [40]:
y = dt.strptime('2020-06-01', '%Y-%m-%d').date()
for x in monday:
    while y<end_date:
        monday_cuts[x+str(y)]=monday[x].loc[monday[x]['DMY']==y]
        y= y + timedelta(days = 7)
    y = dt.strptime('2020-06-01', '%Y-%m-%d').date()

In [41]:
y = dt.strptime('2020-05-05', '%Y-%m-%d').date()
for x in tuesday:
    while y<end_date:
        tuesday_cuts[x+str(y)]=tuesday[x].loc[tuesday[x]['DMY']==y]
        y= y + timedelta(days = 7)
    y = dt.strptime('2020-05-05', '%Y-%m-%d').date()

In [42]:
y = dt.strptime('2020-05-06', '%Y-%m-%d').date()
for x in wednesday:
    while y<end_date:
        wednesday_cuts[x+str(y)]=wednesday[x].loc[wednesday[x]['DMY']==y]
        y= y + timedelta(days = 7)
    y = dt.strptime('2020-05-06', '%Y-%m-%d').date()

In [43]:
y = dt.strptime('2020-05-07', '%Y-%m-%d').date()
for x in thursday:
    while y<end_date:
        thursday_cuts[x+str(y)]=thursday[x].loc[thursday[x]['DMY']==y]
        y= y + timedelta(days = 7)
    y = dt.strptime('2020-05-07', '%Y-%m-%d').date()

In [44]:
y = dt.strptime('2020-05-08', '%Y-%m-%d').date()
for x in friday:
    while y<end_date:
        friday_cuts[x+str(y)]=friday[x].loc[friday[x]['DMY']==y]
        y= y + timedelta(days = 7)
    y = dt.strptime('2020-05-08', '%Y-%m-%d').date()

In [45]:
monday_cuts['ADSEZ2020-05-04']

,Dates,fund_name,Close_x,Close_y,Close_x_log,Close_y_log,DMY,Time,Day_of_week
247575,2020-05-04 09:15:00,ADSEZ,271.35,271.50,5.603410,5.603962,2020-05-04,09:15:00,0
247576,2020-05-04 09:20:00,ADSEZ,270.25,270.70,5.599347,5.601011,2020-05-04,09:20:00,0
247577,2020-05-04 09:25:00,ADSEZ,271.15,272.00,5.602672,5.605802,2020-05-04,09:25:00,0
247578,2020-05-04 09:30:00,ADSEZ,270.85,271.00,5.601565,5.602119,2020-05-04,09:30:00,0
247579,2020-05-04 09:35:00,ADSEZ,269.65,270.50,5.597125,5.600272,2020-05-04,09:35:00,0
...,...,...,...,...,...,...,...,...,...
247646,2020-05-04 15:10:00,ADSEZ,266.40,267.45,5.584999,5.588933,2020-05-04,15:10:00,0
247647,2020-05-04 15:15:00,ADSEZ,266.45,267.70,5.585187,5.589867,2020-05-04,15:15:00,0
247648,2020-05-04 15:20:00,ADSEZ,266.45,267.55,5.585187,5.589306,2020-05-04,15:20:00,0
247649,2020-05-04 15:25:00,ADSEZ,266.90,268.00,5.586874,5.590987,2020-05-04,15:25:00,0
247650,2020-05-04 15:30:00,ADSEZ,266.90,268.00,5.586874,5.590987,2020-05-04,15:30:00,0

In [46]:
s1_start = dt.strptime('09:14:00', '%H:%M:%S').time()
s1_end = dt.strptime('11:46:00', '%H:%M:%S').time()

s2_start = dt.strptime('09:59:00', '%H:%M:%S').time()
s2_end = dt.strptime('12:31:00', '%H:%M:%S').time()

s3_start = dt.strptime('10:59:00', '%H:%M:%S').time()
s3_end = dt.strptime('13:31:00', '%H:%M:%S').time()

s4_start = dt.strptime('11:59:00', '%H:%M:%S').time()
s4_end = dt.strptime('14:31:00', '%H:%M:%S').time()

s5_start = dt.strptime('12:59:00', '%H:%M:%S').time()
s5_end = dt.strptime('15:31:00', '%H:%M:%S').time()

In [47]:
monday_cuts_f = {}
tuesday_cuts_f = {}
wednesday_cuts_f = {}
thursday_cuts_f = {}
friday_cuts_f = {}

In [48]:
for x in monday_cuts:
    mask = (monday_cuts[x]['Time'] > s1_start) & (monday_cuts[x]['Time']<s1_end)
    monday_cuts_f[x+'-'+str(s1_start)] = monday_cuts[x].loc[mask]
    mask = (monday_cuts[x]['Time'] > s2_start) & (monday_cuts[x]['Time']<s2_end)
    monday_cuts_f[x+'-'+str(s2_start)] = monday_cuts[x].loc[mask]
    mask = (monday_cuts[x]['Time'] > s3_start) & (monday_cuts[x]['Time']<s3_end)
    monday_cuts_f[x+'-'+str(s3_start)] = monday_cuts[x].loc[mask]
    mask = (monday_cuts[x]['Time'] > s4_start) & (monday_cuts[x]['Time']<s4_end)
    monday_cuts_f[x+'-'+str(s4_start)] = monday_cuts[x].loc[mask]
    mask = (monday_cuts[x]['Time'] > s5_start) & (monday_cuts[x]['Time']<s5_end)
    monday_cuts_f[x+'-'+str(s5_start)] = monday_cuts[x].loc[mask]

In [49]:
for x in tuesday_cuts:
    mask = (tuesday_cuts[x]['Time'] > s1_start) & (tuesday_cuts[x]['Time']<s1_end)
    tuesday_cuts_f[x+'-'+str(s1_start)] = tuesday_cuts[x].loc[mask]
    mask = (tuesday_cuts[x]['Time'] > s2_start) & (tuesday_cuts[x]['Time']<s2_end)
    tuesday_cuts_f[x+'-'+str(s2_start)] = tuesday_cuts[x].loc[mask]
    mask = (tuesday_cuts[x]['Time'] > s3_start) & (tuesday_cuts[x]['Time']<s3_end)
    tuesday_cuts_f[x+'-'+str(s3_start)] = tuesday_cuts[x].loc[mask]
    mask = (tuesday_cuts[x]['Time'] > s4_start) & (tuesday_cuts[x]['Time']<s4_end)
    tuesday_cuts_f[x+'-'+str(s4_start)] = tuesday_cuts[x].loc[mask]
    mask = (tuesday_cuts[x]['Time'] > s5_start) & (tuesday_cuts[x]['Time']<s5_end)
    tuesday_cuts_f[x+'-'+str(s5_start)] = tuesday_cuts[x].loc[mask]

In [50]:
for x in wednesday_cuts:
    mask = (wednesday_cuts[x]['Time'] > s1_start) & (wednesday_cuts[x]['Time']<s1_end)
    wednesday_cuts_f[x+'-'+str(s1_start)] = wednesday_cuts[x].loc[mask]
    mask = (wednesday_cuts[x]['Time'] > s2_start) & (wednesday_cuts[x]['Time']<s2_end)
    wednesday_cuts_f[x+'-'+str(s2_start)] = wednesday_cuts[x].loc[mask]
    mask = (wednesday_cuts[x]['Time'] > s3_start) & (wednesday_cuts[x]['Time']<s3_end)
    wednesday_cuts_f[x+'-'+str(s3_start)] = wednesday_cuts[x].loc[mask]
    mask = (wednesday_cuts[x]['Time'] > s4_start) & (wednesday_cuts[x]['Time']<s4_end)
    wednesday_cuts_f[x+'-'+str(s4_start)] = wednesday_cuts[x].loc[mask]
    mask = (wednesday_cuts[x]['Time'] > s5_start) & (wednesday_cuts[x]['Time']<s5_end)
    wednesday_cuts_f[x+'-'+str(s5_start)] = wednesday_cuts[x].loc[mask]

In [51]:
for x in thursday_cuts:
    mask = (thursday_cuts[x]['Time'] > s1_start) & (thursday_cuts[x]['Time']<s1_end)
    thursday_cuts_f[x+'-'+str(s1_start)] = thursday_cuts[x].loc[mask]
    mask = (thursday_cuts[x]['Time'] > s2_start) & (thursday_cuts[x]['Time']<s2_end)
    thursday_cuts_f[x+'-'+str(s2_start)] = thursday_cuts[x].loc[mask]
    mask = (thursday_cuts[x]['Time'] > s3_start) & (thursday_cuts[x]['Time']<s3_end)
    thursday_cuts_f[x+'-'+str(s3_start)] = thursday_cuts[x].loc[mask]
    mask = (thursday_cuts[x]['Time'] > s4_start) & (thursday_cuts[x]['Time']<s4_end)
    thursday_cuts_f[x+'-'+str(s4_start)] = thursday_cuts[x].loc[mask]
    mask = (thursday_cuts[x]['Time'] > s5_start) & (thursday_cuts[x]['Time']<s5_end)
    thursday_cuts_f[x+'-'+str(s5_start)] = thursday_cuts[x].loc[mask]

In [52]:
for x in friday_cuts:
    mask = (friday_cuts[x]['Time'] > s1_start) & (friday_cuts[x]['Time']<s1_end)
    friday_cuts_f[x+'-'+str(s1_start)] = friday_cuts[x].loc[mask]
    mask = (friday_cuts[x]['Time'] > s2_start) & (friday_cuts[x]['Time']<s2_end)
    friday_cuts_f[x+'-'+str(s2_start)] = friday_cuts[x].loc[mask]
    mask = (friday_cuts[x]['Time'] > s3_start) & (friday_cuts[x]['Time']<s3_end)
    friday_cuts_f[x+'-'+str(s3_start)] = friday_cuts[x].loc[mask]
    mask = (friday_cuts[x]['Time'] > s4_start) & (friday_cuts[x]['Time']<s4_end)
    friday_cuts_f[x+'-'+str(s4_start)] = friday_cuts[x].loc[mask]
    mask = (friday_cuts[x]['Time'] > s5_start) & (friday_cuts[x]['Time']<s5_end)
    friday_cuts_f[x+'-'+str(s5_start)] = friday_cuts[x].loc[mask]

In [53]:
monday_cuts_f['ADSEZ2020-05-04-09:14:00']

,Dates,fund_name,Close_x,Close_y,Close_x_log,Close_y_log,DMY,Time,Day_of_week
247575,2020-05-04 09:15:00,ADSEZ,271.35,271.50,5.603410,5.603962,2020-05-04,09:15:00,0
247576,2020-05-04 09:20:00,ADSEZ,270.25,270.70,5.599347,5.601011,2020-05-04,09:20:00,0
247577,2020-05-04 09:25:00,ADSEZ,271.15,272.00,5.602672,5.605802,2020-05-04,09:25:00,0
247578,2020-05-04 09:30:00,ADSEZ,270.85,271.00,5.601565,5.602119,2020-05-04,09:30:00,0
247579,2020-05-04 09:35:00,ADSEZ,269.65,270.50,5.597125,5.600272,2020-05-04,09:35:00,0
247580,2020-05-04 09:40:00,ADSEZ,267.85,269.30,5.590427,5.595826,2020-05-04,09:40:00,0
247581,2020-05-04 09:45:00,ADSEZ,268.25,269.15,5.591919,5.595269,2020-05-04,09:45:00,0
247582,2020-05-04 09:50:00,ADSEZ,268.05,269.15,5.591174,5.595269,2020-05-04,09:50:00,0
247583,2020-05-04 09:55:00,ADSEZ,265.85,267.00,5.582932,5.587249,2020-05-04,09:55:00,0
247584,2020-05-04 10:00:00,ADSEZ,264.90,265.35,5.579352,5.581050,2020-05-04,10:00:00,0
247585,2020-05-04 10:05:00,ADSEZ,264.80,266.25,5.578975,5.584436,2020-05-04,10:05:00,0
247586,2020-05-04 10:10:00,ADSEZ,264.15,265.00,5.576517,5.579730,2020-05-04,10:10:00,0
247587,2020-05-04 10:15:00,ADSEZ,264.30,265.40,5.577085,5.581238,2020-05-04,10:15:00,0
247588,2020-05-04 10:20:00,ADSEZ,264.00,265.20,5.575949,5.580484,2020-05-04,10:20:00,0
247589,2020-05-04 10:25:00,ADSEZ,264.90,266.10,5.579352,5.583872,2020-05-04,10:25:00,0
247590,2020-05-04 10:30:00,ADSEZ,265.20,266.70,5.580484,5.586124,2020-05-04,10:30:00,0
247591,2020-05-04 10:35:00,ADSEZ,265.35,266.40,5.581050,5.584999,2020-05-04,10:35:00,0
247592,2020-05-04 10:40:00,ADSEZ,265.50,266.65,5.581615,5.585937,2020-05-04,10:40:00,0
247593,2020-05-04 10:45:00,ADSEZ,265.60,266.40,5.581991,5.584999,2020-05-04,10:45:00,0
247594,2020-05-04 10:50:00,ADSEZ,265.20,266.45,5.580484,5.585187,2020-05-04,10:50:00,0
247595,2020-05-04 10:55:00,ADSEZ,264.40,266.00,5.577463,5.583496,2020-05-04,10:55:00,0
247596,2020-05-04 11:00:00,ADSEZ,262.80,264.00,5.571393,5.575949,2020-05-04,11:00:00,0
247597,2020-05-04 11:05:00,ADSEZ,263.05,264.30,5.572344,5.577085,2020-05-04,11:05:00,0
247598,2020-05-04 11:10:00,ADSEZ,263.00,264.05,5.572154,5.576138,2020-05-04,11:10:00,0
247599,2020-05-04 11:15:00,ADSEZ,263.35,264.40,5.573484,5.577463,2020-05-04,11:15:00,0
247600,2020-05-04 11:20:00,ADSEZ,263.60,264.60,5.574433,5.578219,2020-05-04,11:20:00,0
247601,2020-05-04 11:25:00,ADSEZ,264.70,265.80,5.578597,5.582744,2020-05-04,11:25:00,0
247602,2020-05-04 11:30:00,ADSEZ,263.75,265.00,5.575002,5.579730,2020-05-04,11:30:00,0
247603,2020-05-04 11:35:00,ADSEZ,264.10,264.90,5.576328,5.579352,2020-05-04,11:35:00,0
247604,2020-05-04 11:40:00,ADSEZ,264.00,265.20,5.575949,5.580484,2020-05-04,11:40:00,0
247605,2020-05-04 11:45:00,ADSEZ,264.35,265.55,5.577274,5.581803,2020-05-04,11:45:00,0

In [54]:
monday_cuts_ff = {}
tuesday_cuts_ff = {}
wednesday_cuts_ff = {}
thursday_cuts_ff = {}
friday_cuts_ff = {}

for x in monday_cuts_f:
    monday_cuts_ff[x]=monday_cuts_f[x][['Close_x_log','Close_y_log']]

for x in tuesday_cuts_f:
    tuesday_cuts_ff[x]=tuesday_cuts_f[x][['Close_x_log','Close_y_log']]

for x in wednesday_cuts_f:
    wednesday_cuts_ff[x]=wednesday_cuts_f[x][['Close_x_log','Close_y_log']]
    
for x in thursday_cuts_f:
    thursday_cuts_ff[x]=thursday_cuts_f[x][['Close_x_log','Close_y_log']]
    
for x in friday_cuts_f:
    friday_cuts_ff[x]=friday_cuts_f[x][['Close_x_log','Close_y_log']]

In [55]:
for x in monday_cuts_ff:
    monday_cuts_ff[x]['analysis_name']=str(x)
    
for x in tuesday_cuts_ff:
    tuesday_cuts_ff[x]['analysis_name']=str(x)
    
for x in wednesday_cuts_ff:
    wednesday_cuts_ff[x]['analysis_name']=str(x)
    
for x in thursday_cuts_ff:
    thursday_cuts_ff[x]['analysis_name']=str(x)
    
for x in friday_cuts_ff:
    friday_cuts_ff[x]['analysis_name']=str(x)

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()
/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [56]:
monday_cuts_ff['ADSEZ2020-05-04-09:14:00']

        Close_x_log  Close_y_log             analysis_name
247575     5.603410     5.603962  ADSEZ2020-05-04-09:14:00
247576     5.599347     5.601011  ADSEZ2020-05-04-09:14:00
247577     5.602672     5.605802  ADSEZ2020-05-04-09:14:00
247578     5.601565     5.602119  ADSEZ2020-05-04-09:14:00
247579     5.597125     5.600272  ADSEZ2020-05-04-09:14:00
247580     5.590427     5.595826  ADSEZ2020-05-04-09:14:00
247581     5.591919     5.595269  ADSEZ2020-05-04-09:14:00
247582     5.591174     5.595269  ADSEZ2020-05-04-09:14:00
247583     5.582932     5.587249  ADSEZ2020-05-04-09:14:00
247584     5.579352     5.581050  ADSEZ2020-05-04-09:14:00
247585     5.578975     5.584436  ADSEZ2020-05-04-09:14:00
247586     5.576517     5.579730  ADSEZ2020-05-04-09:14:00
247587     5.577085     5.581238  ADSEZ2020-05-04-09:14:00
247588     5.575949     5.580484  ADSEZ2020-05-04-09:14:00
247589     5.579352     5.583872  ADSEZ2020-05-04-09:14:00
247590     5.580484     5.586124  ADSEZ2020-05-04-09:14:00
247591     5.581050     5.584999  ADSEZ2020-05-04-09:14:00
247592     5.581615     5.585937  ADSEZ2020-05-04-09:14:00
247593     5.581991     5.584999  ADSEZ2020-05-04-09:14:00
247594     5.580484     5.585187  ADSEZ2020-05-04-09:14:00
247595     5.577463     5.583496  ADSEZ2020-05-04-09:14:00
247596     5.571393     5.575949  ADSEZ2020-05-04-09:14:00
247597     5.572344     5.577085  ADSEZ2020-05-04-09:14:00
247598     5.572154     5.576138  ADSEZ2020-05-04-09:14:00
247599     5.573484     5.577463  ADSEZ2020-05-04-09:14:00
247600     5.574433     5.578219  ADSEZ2020-05-04-09:14:00
247601     5.578597     5.582744  ADSEZ2020-05-04-09:14:00
247602     5.575002     5.579730  ADSEZ2020-05-04-09:14:00
247603     5.576328     5.579352  ADSEZ2020-05-04-09:14:00
247604     5.575949     5.580484  ADSEZ2020-05-04-09:14:00
247605     5.577274     5.581803  ADSEZ2020-05-04-09:14:00

In [91]:
monday_frames = []
for key in monday_cuts_ff.keys():
    monday_frames.append(monday_cuts_ff[key])

In [92]:
pd.concat(monday_frames).to_excel('monday.xlsx')

In [93]:
tuesday_frames = []
for key in tuesday_cuts_ff.keys():
    tuesday_frames.append(tuesday_cuts_ff[key])
pd.concat(tuesday_frames).to_excel('tuesday.xlsx')

In [94]:
wednesday_frames = []
for key in wednesday_cuts_ff.keys():
    wednesday_frames.append(wednesday_cuts_ff[key])
pd.concat(wednesday_frames).to_excel('wednesday.xlsx')

In [95]:
thursday_frames = []
for key in thursday_cuts_ff.keys():
    thursday_frames.append(thursday_cuts_ff[key])
pd.concat(thursday_frames).to_excel('thursday.xlsx')

In [96]:
friday_frames = []
for key in friday_cuts_ff.keys():
    friday_frames.append(friday_cuts_ff[key])
pd.concat(friday_frames).to_excel('friday.xlsx')

In [164]:
with pd.ExcelWriter('monday.xlsx') as writer:
    for x in monday_cuts_ff.keys():
        a = str(x)[0:-6]
        monday_cuts_ff[x].to_excel(writer, sheet_name=a)

In [165]:
with pd.ExcelWriter('tuesday.xlsx') as writer:
    for x in tuesday_cuts_ff.keys():
        a = str(x)[0:-6]
        tuesday_cuts_ff[x].to_excel(writer, sheet_name=a)

In [166]:
with pd.ExcelWriter('wednesday.xlsx') as writer:
    for x in wednesday_cuts_ff.keys():
        a = str(x)[0:-6]
        wednesday_cuts_ff[x].to_excel(writer, sheet_name=a)

In [170]:
with pd.ExcelWriter('thursday.xlsx') as writer:
    for x in thursday_cuts_ff.keys():
        a = str(x)[0:-6]
        thursday_cuts_ff[x].to_excel(writer, sheet_name=a)

In [169]:
with pd.ExcelWriter('friday.xlsx') as writer:
    for x in friday_cuts_ff.keys():
        a = str(x)[0:-6]
        friday_cuts_ff[x].to_excel(writer, sheet_name=a)