In [2]:
import pandas as pd
from datetime import datetime

In [3]:
# Load actual data
data = pd.read_excel('./2020 dump.xlsx', sheet_name='Sheet2')

In [4]:
# Load futures data
futures_data_may = pd.read_excel('./2020 dump.xlsx', sheet_name='may')
futures_data_jun = pd.read_excel('./2020 dump.xlsx', sheet_name='jun')
futures_data_jul = pd.read_excel('./2020 dump.xlsx', sheet_name='jul')
futures_data_aug = pd.read_excel('./2020 dump.xlsx', sheet_name='aug')

In [16]:
funds_data={}
for x in range(0, 449, 9):
    fund_data = data.iloc[:,x:x+8].dropna(how="all")
    fund_name = fund_data.columns[0].split()[0]
    fund_data.columns = fund_data.iloc[0]
    fund_data['fund_name'] = fund_name
    funds_data[fund_name] = fund_data.iloc[2:,:]

In [68]:
ft_data = {'may': futures_data_may, 'jun': futures_data_jun, 'jul': futures_data_jul, 'aug': futures_data_aug}

In [70]:
ft_monthly_data = {}
for key in ft_data.keys():
    for x in range(0, 449, 9):
        fft_data = ft_data[key].iloc[:,x:x+8].dropna(how="all")
        fund_name = fft_data.columns[0].split("=")[0]
        fft_data.columns = fft_data.iloc[0]
        temp_data = fft_data.iloc[2:,:]
        
        if key == 'may':
            filter_mask = ((temp_data['Dates'] > datetime(2020, 4, 29)) & (temp_data['Dates'] < datetime(2020, 5, 28)))
        elif key == 'jun':
            filter_mask = ((temp_data['Dates'] >= datetime(2020, 5, 28)) & (temp_data['Dates'] < datetime(2020, 6, 25)))
        elif key == 'jul':
            filter_mask = ((temp_data['Dates'] >= datetime(2020, 6, 25)) & (temp_data['Dates'] < datetime(2020, 7, 30)))
        else:
            filter_mask = ((temp_data['Dates'] >= datetime(2020, 7, 30)) & (temp_data['Dates'] <= datetime(2020, 8, 27)))
        # Filter data
        temp_data = temp_data.loc[filter_mask]
        if fund_name in ft_monthly_data.keys():
            ft_monthly_data[fund_name]=ft_monthly_data[fund_name].append(temp_data, ignore_index=True)
        else:
            ft_monthly_data[fund_name] = temp_data

In [73]:
for x in ft_monthly_data:
    ft_monthly_data[x]['Close'].fillna(method = 'ffill', inplace = True)

In [76]:
ft_monthly_data['RIL']['Dates']

0       2020-04-29 09:15:00
1       2020-04-29 09:20:00
2       2020-04-29 09:25:00
3       2020-04-29 09:30:00
4       2020-04-29 09:35:00
               ...
6295    2020-08-26 15:05:00
6296    2020-08-26 15:10:00
6297    2020-08-26 15:15:00
6298    2020-08-26 15:20:00
6299    2020-08-26 15:25:00
Name: Dates, Length: 6300, dtype: object

In [77]:
for fund in funds_data.keys():
    funds_data[fund]['Dates'] = funds_data[fund]['Dates'].astype('datetime64[ns]')

for fund in ft_monthly_data.keys():
    ft_monthly_data[fund]['Dates'] = ft_monthly_data[fund]['Dates'].astype('datetime64[ns]')

for fund in funds_data.keys():
    funds_data[fund]['Dates'] = funds_data[fund]['Dates'].astype('datetime64[ns]')

for fund in ft_monthly_data.keys():
    ft_monthly_data[fund]['Dates'] = ft_monthly_data[fund]['Dates'].astype('datetime64[ns]')

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [92]:
merged_data = {}
for fund in funds_data.keys():
    if fund == 'HDFCLIFE':
        merged_data['HDFCLIFE']=pd.merge(funds_data['HDFCLIFE'], ft_monthly_data['HDFCL'], on='Dates', how='left', indicator=True)
    elif fund == 'GRASIM':
        merged_data['GRASIM']=pd.merge(funds_data['GRASIM'], ft_monthly_data['GRASI'], on='Dates', how='left', indicator=True)
    elif fund == 'ICICIBC':
        merged_data['ICICIBC']=pd.merge(funds_data['ICICIBC'], ft_monthly_data['ICICI'], on='Dates', how='left', indicator=True)
    elif fund == 'BHARTI':
        merged_data['BHARTI']=pd.merge(funds_data['BHARTI'], ft_monthly_data['BHART'], on='Dates', how='left', indicator=True)
    else:
        merged_data[fund]=pd.merge(funds_data[fund], ft_monthly_data[fund], on='Dates', how='left', indicator=True)

In [96]:
for x in merged_data:
    filter_mask = ((merged_data[x]['Dates'] > datetime(2020, 4, 28)) & (merged_data[x]['Dates'] < datetime(2020, 8, 28)))
    merged_data[x]=merged_data[x].loc[filter_mask]

In [97]:
merged_data['RIL']

,Dates,Open_x,Close_x,High_x,Low_x,Value_x,Volume_x,Number Ticks_x,fund_name,Open_y,Close_y,High_y,Low_y,Value_y,Volume_y,Number Ticks_y,_merge
3340,2020-04-28 09:05:00,1450,1450,1450,1450,214379600,147848,2,RIL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
3341,2020-04-28 09:15:00,1453.9,1443.6,1453.9,1442.95,2356426240,1627951,532,RIL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
3342,2020-04-28 09:20:00,1441.45,1418,1442.25,1412.7,2467048960,1729774,526,RIL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
3343,2020-04-28 09:25:00,1417.8,1408,1420.6,1407,1507258240,1066886,516,RIL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
3344,2020-04-28 09:30:00,1407.85,1413.45,1418.3,1406.55,1169928960,828540,498,RIL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10385,2020-08-27 15:40:00,2110.6,2110.6,2110.6,2110.6,7.49685e+06,3552,63,RIL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
10386,2020-08-27 15:45:00,2110.6,2110.6,2110.6,2110.6,2855642,1353,35,RIL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
10387,2020-08-27 15:50:00,2110.6,2110.6,2110.6,2110.6,1.80878e+06,857,22,RIL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
10388,2020-08-27 15:55:00,2110.6,2110.6,2110.6,2110.6,1.8721e+06,887,21,RIL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
10389,2020-08-27 16:35:00,2110.6,2110.6,2110.6,2110.6,0,0,1,RIL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only

In [98]:
for x in merged_data:
    merged_data[x]['Close_y'].fillna(method = 'ffill', inplace = True)

/opt/anaconda3/lib/python3.7/site-packages/pandas/core/generic.py:6245: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._update_inplace(new_data)

In [106]:
merged_data['RIL'][200:250]

,Dates,Open_x,Close_x,High_x,Low_x,Value_x,Volume_x,Number Ticks_x,fund_name,Open_y,Close_y,High_y,Low_y,Value_y,Volume_y,Number Ticks_y,_merge
3540,2020-04-30 12:10:00,1479.85,1486.1,1486.4,1477.35,1704994432,1150325,600,RIL,1485.1,1491.45,1491.45,1482.25,3.88725e+06,2613,283,both
3541,2020-04-30 12:15:00,1486.2,1482.85,1486.85,1480.4,967946240,652773,584,RIL,1492,1486.30,1492.2,1484.3,2.06124e+06,1386,261,both
3542,2020-04-30 12:20:00,1482.8,1492.05,1494,1482.5,1475934336,991541,536,RIL,1486.2,1496.15,1497.15,1486.2,2994713,2007,269,both
3543,2020-04-30 12:25:00,1492.75,1488.9,1494.65,1488.2,1302976896,873342,492,RIL,1496.15,1492.00,1498.8,1491.85,2.94391e+06,1968,277,both
3544,2020-04-30 12:30:00,1488.5,1484.4,1488.5,1482.25,1004427264,676382,518,RIL,1492,1486.70,1492.55,1485,1973387,1326,254,both
3545,2020-04-30 12:35:00,1483.7,1484.3,1489,1483.7,464697792,312678,520,RIL,1487.4,1487.25,1492.35,1486.5,1.31194e+06,881,205,both
3546,2020-04-30 12:40:00,1484.7,1484,1485,1482,459791808,309997,531,RIL,1486.8,1486.70,1487.75,1483.75,874986,589,179,both
3547,2020-04-30 12:45:00,1484.2,1480.15,1484.25,1480,725669952,489947,531,RIL,1486.25,1483.00,1486.8,1481.6,1050385,708,195,both
3548,2020-04-30 12:50:00,1480.45,1475.8,1480.7,1471.2,1094523776,741798,588,RIL,1483,1479.05,1483.65,1473.9,1.7692e+06,1197,250,both
3549,2020-04-30 12:55:00,1475.6,1469.55,1478,1468.95,841981504,571555,592,RIL,1479.25,1472.15,1480.85,1472,945060,640,207,both
3550,2020-04-30 13:00:00,1469,1471.7,1475.8,1467,695964224,472771,552,RIL,1472.15,1473.80,1478.55,1470.25,1.01755e+06,690,201,both
3551,2020-04-30 13:05:00,1471.35,1472.35,1473.85,1469,590058688,401150,536,RIL,1473.45,1473.70,1476.75,1471,1.11372e+06,756,213,both
3552,2020-04-30 13:10:00,1472.15,1474.65,1479.8,1472.1,654416448,443327,530,RIL,1474,1477.50,1482.65,1474,992251,671,195,both
3553,2020-04-30 13:15:00,1474.65,1472.1,1475.8,1471,410978240,279036,502,RIL,1478.25,1475.15,1478.7,1473,734758,498,147,both
3554,2020-04-30 13:20:00,1472.4,1472.3,1473.9,1470.45,269943552,183422,512,RIL,1474.45,1474.65,1476.45,1472.55,392122,266,106,both
3555,2020-04-30 13:25:00,1472.3,1473.4,1473.65,1471,227187808,154326,508,RIL,1473.75,1475.10,1476.35,1473.15,533713,362,108,both
3556,2020-04-30 13:30:00,1473.15,1474.05,1476,1472.4,358728768,243358,529,RIL,1475,1477.45,1478.5,1474.45,735204,498,168,both
3557,2020-04-30 13:35:00,1474.25,1472.15,1476,1471.3,348950560,236828,564,RIL,1477,1474.85,1478.7,1473.5,591750,401,145,both
3558,2020-04-30 13:40:00,1472.35,1464.5,1473,1463.15,913923264,622936,598,RIL,1474.95,1468.15,1475.5,1465.85,1081570,736,179,both
3559,2020-04-30 13:45:00,1464.8,1466.95,1467.9,1461.3,819461952,559808,592,RIL,1467.3,1468.70,1470.8,1463.6,1.19654e+06,816,210,both
3560,2020-04-30 13:50:00,1466.8,1463.65,1467.15,1462.5,355891872,243052,589,RIL,1468.7,1467.00,1468.75,1465.2,441525,301,141,both
3561,2020-04-30 13:55:00,1463.95,1465.9,1470,1463.5,423624256,288843,514,RIL,1466.95,1469.55,1472.55,1466.7,963832,656,155,both
3562,2020-04-30 14:00:00,1466.1,1468.1,1470,1465.05,377263520,256918,516,RIL,1470.05,1472.00,1473.55,1468.7,637242,433,140,both
3563,2020-04-30 14:05:00,1468.35,1463.55,1470.9,1463.55,556441280,379284,510,RIL,1471.65,1467.20,1473.85,1466.1,996745,678,144,both
3564,2020-04-30 14:10:00,1463.95,1465.35,1467.85,1463.95,261762032,178646,494,RIL,1467.35,1467.05,1471.2,1466.3,521239,355,123,both
3565,2020-04-30 14:15:00,1464.85,1464.5,1465.5,1463,208566240,142468,513,RIL,1468.1,1467.40,1468.5,1464.8,715707,488,117,both
3566,2020-04-30 14:20:00,1464.15,1465.4,1466,1463.5,190141600,129796,534,RIL,1467,1467.50,1468.95,1465.2,448905,306,118,both
3567,2020-04-30 14:25:00,1465.4,1467.2,1468.4,1464.4,264746928,180461,565,RIL,1467.5,1469.80,1470.9,1466.5,659833,449,118,both
3568,2020-04-30 14:30:00,1467.35,1465.35,1467.9,1463.75,223972032,152885,566,RIL,1469.8,1467.10,1470.05,1465.55,330064,225,98,both
3569,2020-04-30 14:35:00,1465.6,1467,1467.5,1464.3,194047296,132369,540,RIL,1467.5,1469.90,1470.25,1466.25,522749,356,108,both
3570,2020-04-30 14:40:00,1467.05,1465.15,1467.7,1465,163842736,111736,519,RIL,1470.25,1468.15,1470.5,1467.5,368706,251,88,both
3571,2020-04-30 14:45:00,1465.15,1465.15,1466.9,1464.1,191119296,130459,516,RIL,1468,1467.40,1469.8,1466,585476,399,120,both
3572,2020-04-30 14:50:00,1464.7,1464.55,1466.65,1464,269191680,183747,501,RIL,1467.4,1466.60,1469.6,1465.95,487238,332,114,both
3573,2020-04-30 14:55:00,1464.55,1454.15,1464.85,1451.9,1357543040,932587,524,RIL,1466.55,1458.00,1467.35,1456,2.42557e+06,1663,212,both
3574,2020-04-30 15:00:00,1454.05,1467,1467,1452.8,1116524288,764592,492,RIL,1458,1468.65,1468.65,1457,1770417,1210,229,both
3575,2020-04-30 15:05:00,1466.75,1463,1469.9,1462.6,986439872,672320,506,RIL,1468.35,1465.35,1472,1465.25,1370809,933,233,both
3576,2020-04-30 15:10:00,1462.3,1469.2,1469.9,1462.3,1006012032,686303,573,RIL,1465.4,1470.50,1470.9,1464.8,1.65452e+06,1127,229,both
3577,2020-04-30 15:15:00,1469.5,1474,1475.15,1469.35,816173760,554180,587,RIL,1470.6,1474.55,1475,1470.3,1.78154e+06,1209,264,both
3578,2020-04-30 15:20:00,1474,1464.9,1474,1463.15,835226112,569184,536,RIL,1474.2,1465.00,1474.2,1464.8,1.89352e+06,1289,264,both
3579,2020-04-30 15:25:00,1464.75,1464,1465.85,1461.15,615593088,420525,532,RIL,1465.6,1466.00,1466.45,1463,1.37966e+06,942,245,both
3580,2020-04-30 15:30:00,1464,1464,1464,1464,348432,238,2,RIL,NaN,1466.00,NaN,NaN,NaN,NaN,NaN,left_only
3581,2020-04-30 15:40:00,1466,1466,1466,1466,18285418,12473,113,RIL,NaN,1466.00,NaN,NaN,NaN,NaN,NaN,left_only
3582,2020-04-30 15:45:00,1466,1466,1466,1466,2031876,1386,43,RIL,NaN,1466.00,NaN,NaN,NaN,NaN,NaN,left_only
3583,2020-04-30 15:50:00,1466,1466,1466,1466,1905800,1300,32,RIL,NaN,1466.00,NaN,NaN,NaN,NaN,NaN,left_only
3584,2020-04-30 15:55:00,1466,1466,1466,1466,1401496,956,17,RIL,NaN,1466.00,NaN,NaN,NaN,NaN,NaN,left_only
3585,2020-04-30 16:35:00,1466,1466,1466,1466,0,0,1,RIL,NaN,1466.00,NaN,NaN,NaN,NaN,NaN,left_only
3586,2020-05-04 09:05:00,1440,1440,1440,1440,404998560,281249,2,RIL,NaN,1466.00,NaN,NaN,NaN,NaN,NaN,left_only
3587,2020-05-04 09:15:00,1432.7,1437.7,1463,1420.25,3789604864,2624248,580,RIL,1434.75,1436.35,1461.65,1423.9,8787364,6089,292,both
3588,2020-05-04 09:20:00,1438.95,1446.2,1451,1438.95,1351669760,935104,508,RIL,1437.45,1445.75,1451.6,1437.05,3.00864e+06,2082,264,both
3589,2020-05-04 09:25:00,1445.95,1459,1465,1445,1374100864,944306,496,RIL,1445.7,1460.75,1466.35,1444.3,3559074,2444,254,both

In [107]:
for x in merged_data:
    filter_mask = ((merged_data[x]['Dates'] > datetime(2020, 5, 1)) & (merged_data[x]['Dates'] < datetime(2020, 8, 27)))
    merged_data[x] = merged_data[x].loc[filter_mask]

In [113]:
merged_data['Z'].head()

,Dates,Open_x,Close_x,High_x,Low_x,Value_x,Volume_x,Number Ticks_x,fund_name,Open_y,Close_y,High_y,Low_y,Value_y,Volume_y,Number Ticks_y,_merge
3569,2020-05-04 09:05:00,150,150,150,150,4821150,32141,2,Z,NaN,160.20,NaN,NaN,NaN,NaN,NaN,left_only
3570,2020-05-04 09:15:00,151.95,149.45,151.95,149,73855624,493156,567,Z,150.1,150.10,151.25,148.65,39506.6,263,95,both
3571,2020-05-04 09:20:00,149.45,147.25,149.45,146.75,81058448,548731,540,Z,149.5,147.70,149.5,147,31684.5,214,65,both
3572,2020-05-04 09:25:00,147.25,146.9,147.3,146,59204272,404037,550,Z,147.55,146.80,147.55,146.05,17472.2,119,45,both
3573,2020-05-04 09:30:00,146.85,147.3,147.8,146.3,41974200,285479,510,Z,147.15,147.55,147.95,146.45,14721.7,100,32,both

In [119]:
merged_data2 = {}
for x in merged_data:
    merged_data2[x] = merged_data[x][['Dates','fund_name','Close_x','Close_y']]

In [120]:
merged_data2['RIL']

0                   Dates fund_name Close_x  Close_y
3586  2020-05-04 09:05:00       RIL    1440  1466.00
3587  2020-05-04 09:15:00       RIL  1437.7  1436.35
3588  2020-05-04 09:20:00       RIL  1446.2  1445.75
3589  2020-05-04 09:25:00       RIL    1459  1460.75
3590  2020-05-04 09:30:00       RIL  1449.5  1452.00
...                   ...       ...     ...      ...
10303 2020-08-26 15:40:00       RIL  2137.3  2135.70
10304 2020-08-26 15:45:00       RIL  2137.3  2135.70
10305 2020-08-26 15:50:00       RIL  2137.3  2135.70
10306 2020-08-26 15:55:00       RIL  2137.3  2135.70
10307 2020-08-26 16:35:00       RIL  2137.3  2135.70

[6722 rows x 4 columns]

In [122]:
frames = []
for key in merged_data2.keys():
    frames.append(merged_data2[key])
pd.concat(frames).to_excel('output3.xlsx')

In [121]:
with pd.ExcelWriter('output2.xlsx') as writer:
    for fund in merged_data2.keys():
        merged_data2[fund].to_excel(writer, sheet_name=fund)